<% content_for :popup do %>
  <div class="modal splash" id="splash" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
         
        </div>
      </div>
    </div>
  </div>
<% end %>