<p>
  <strong>Job order:</strong>
  <%= @request_material.job_order_id %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @request_material.serial %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request_material.date %>
</p>
